body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.navbar-brand{
    color:white;
}

.navbar-custom {
    background-color: #800000;
}

#navbarToggleIcon{
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
    color: white
}

#signInNavItem{
    margin-right: 1em;
}
#searchBar{
    color: white    ;
}

#searchBtn{
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
   border-color: white;
  }

.page-container {
    margin-top: 75px;
}

#pageHeader{
    margin-top: 1em;
}
#pageHeaderText{
    font-size: 1.5em;
}

.showWhenLoggedIn{
    display: none;
}

hr{
    margin: 3px auto;
    color:rgb(50, 50, 50);
    border-color:rgb(50, 50, 50);
}

.display-inline-block{
    display: inline-block;
}
/* 
#dropDownSortingSelection{
    align-content: right;
} */


.bmd-layout-content{
    height: 80vh;

}

.bmd-layout-drawer>header{
    background-color: #800000;
    color: white;

}


#fab{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #800000;
    color: white;
    z-index: 999;
    
}

/* @media(max-width: 992px){
    #desktopNav{
        display: none;
    }
}

*/

#PostContents{
    margin: auto auto;  
}
.card{
    margin: 10px auto;
}
.card-text{
    margin: auto;
}

#viewCountOnDetailPage{
    text-align: right   ;
}